<div class="col-12">
    <div class="row justify-content-around mt-5">
        <mat-card class="col-4  my-5">
                <div class="row mx-4">
                    <button routerLink="/customer/schedule" class="col mt-4 my-3" color="primary" mat-raised-button>Agendamentos</button>
                </div>
                <div class="row mx-4">
                    <button routerLink="/customer/edit" class="col my-3" color="primary" mat-raised-button>Editar dados do usuário</button>
                </div>
                <div class="row mx-4">
                    <button (click)="logout()" class="col my-3" color="primary" mat-raised-button>Sair</button>
                </div>
        </mat-card>

        <div class="my-5">
            <img src="assets/SVGPerfilUser.svg" alt="SVGPerfilUser">
        </div>
    </div>
</div>
