<!-- <div class="card" *ngFor="let card of cards">
  <mat-card>
    <mat-card-actions>
      <button>
        <mat-card-content>
          <h2>{{card.name}}</h2>
          <p>
            Endereço: {{card.address}} <br>
            Número: {{card.address_number}} <br>
            Bairro: {{card.district}} <br>
            Cidade: {{card.city}} <br>
            UF: {{card.state}}
          </p>
        </mat-card-content>
      </button>
    </mat-card-actions>
  </mat-card>
</div> -->
<div class="col-11">
  <div class="row justify-content-around">
    <div class="col-6 my-3" *ngFor="let card of cards">
      <button class="col-12 ml-5">
        <img src="assets/SVGEmpresa_1.svg">
        <h2>{{card.name}}</h2>
        <p>
          Endereço: {{card.address}} <br>
          Número: {{card.address_number}} <br>
          Bairro: {{card.district}} <br>
          Cidade: {{card.city}} <br>
          UF: {{card.state}}
        </p>
      </button>
    </div>
  </div>
</div>