<div id="search-component" class="my-5 ml-5">
  <label for="search-box">Pesquisar</label>
  <input #searchBox id="search-box" [(ngModel)]="result" (input)="search(searchBox.value)"/>
  <ul class="search-result">
    <li *ngFor="let card of cards$ | async">
      <a routerLink="/detail/{{card.id}}">
        {{card.name}}
      </a>
    </li>
  </ul>
  <button mat-icon-button (click)="updateCards()">
    <mat-icon>search</mat-icon>
  </button>
</div>

<div class="col-11">
  <div class="row justify-content-around">
    <div class="col-6 my-3" *ngFor="let card of cards">
      <button class="col-12 ml-5">
        <img src="assets/SVGEmpresa_1.svg">
        <h2>{{card.name}}</h2>
        <h3>Serviço: {{card.category}}</h3>
        <p>
          Cidade: {{card.city}} <br>
          UF: {{card.uf}} <br>
          Endereço: {{card.address}} <br>
          CEP: {{card.cep}} <br>
          CNPJ: {{card.cnpj}} <br>
          Telefone: {{card.telephone_number}}
        </p>
      </button>
    </div>
  </div>
</div>