<div class="col-12">

  <div class="row justify-content-between mt-5 ml-5">

    <div class="d-flex col-5 ml-4">
      <input #searchBox [(ngModel)]="result" (input)="search(searchBox.value)" placeholder="Pesquisar" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let card of cards$ | async" [value]="card.name">
            {{card.name}}
          </mat-option>
        </mat-autocomplete>
        <button id="search" class="btn btn-outline-primary" (click)="updateCards()">
           <mat-icon>search</mat-icon>
        </button>
    </div>

    <div class="col-5">
      <mat-form-field appearance="fill">
        <mat-label>Categorias</mat-label>
        <mat-select [(ngModel)]="category">
          <mat-option value="" (click)="updateCategory()">Geral</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category.value" (click)="updateCategory()">
            {{category.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <div class="col-11">
    <div class="row justify-content-around">
      <div class="col-6 my-3" *ngFor="let card of cards">
        <button class="col-12 ml-5 card-button" (click)="OpenDialog(card)">
          <img class="mt-2" src="assets/SVGCompany_1.svg">
          <h2>{{card.name}}</h2>
          <h3>Serviço: {{card.category}}</h3>
          <p>
            Cidade: {{card.city}} <br>
            UF: {{card.uf}} <br>
            Endereço: {{card.address}} <br>
            CEP: {{card.cep}} <br>
            CNPJ: {{card.cnpj}} <br>
            Telefone: {{card.telephone_number}}
          </p>
        </button>
      </div>
    </div>
  </div>
</div>