<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <img src="https://images.unsplash.com/photo-1589829545856-d10d557cf95f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
    <div class="c"><p>Advocacia</p></div>
  </ng-template>  
  <ng-template carouselSlide>
    <img src="https://images.pexels.com/photos/48604/pexels-photo-48604.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
    <div class="c"><p>Saúde</p></div>
  </ng-template>  
  <ng-template carouselSlide>
    <img src="https://images.unsplash.com/photo-1563770660941-20978e870e26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGVjaG5pY2FsJTIwYXNzaXN0YW5jZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">
    <div class="c">Assistência Técnica</div>
  </ng-template>
  <ng-template carouselSlide>
    <img src="https://images.unsplash.com/photo-1531834685032-c34bf0d84c77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2l2aWwlMjBjb25zdHJ1Y3Rpb258ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60">
    <div class="c">Construção Civil</div>
  </ng-template>  
  <ng-template carouselSlide>
    <img src="https://images.unsplash.com/photo-1560066984-138dadb4c035?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80">
    <div class="c">Beleza</div>
  </ng-template>  
  <ng-template carouselSlide>
    <img src="https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZWR1Y2F0aW9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
    <div class="c">Educação</div>
  </ng-template>  
  <ng-template carouselSlide>
    <img src="https://images.pexels.com/photos/4239031/pexels-photo-4239031.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
    <div class="c">Serviços Domésticos</div>
  </ng-template>
  <ng-template carouselSlide>
    <img src="https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZGVzaWduZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60">
    <div class="c">Design</div>
  </ng-template>  
</owl-carousel-o>

