::ng-deep .mat-dialog-container {
  overflow-y: hidden !important;
}

.a {
  position: relative;
  // height: 68px;
  }
  .a::-webkit-calendar-picker-indicator {
      width: 17px;
      height: 17px;
      margin-right: 6px;
    }
