<div *ngIf="get" class="d-flex justify-content-around align-items-center" style="height: 100%;">
  <div>
    <img id="img" src="../../../assets/SVGEmpresa.svg">
  </div>
  <div>
    <h1 mat-dialog-title> {{get['company']['name']}} </h1>
    <div >
      <mat-dialog-content>
        <div>CNPJ: {{get['company']['cnpj']}} </div>
        <div>ENDEREÇO: {{get['company']['adress']}}</div>
        <div>CEP: {{get['company']['cep']}}</div>
        <div>CIDADE: {{get['company']['city']}}</div>
        <div>UF: {{get['company']['uf']}}</div>
        <div>TELEFONE: {{get['company']['telephone_number']}}</div>
        <div>EMAIL: {{get['email']}}</div>
      </mat-dialog-content>

      <mat-form-field appearance="fill" class="mt-3">
        <mat-label>Escolha uma data para o agendamento</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-dialog-actions class="justify-content-center">
        <button color="primary" mat-raised-button mat-dialog-close>AGENDAR</button>
      </mat-dialog-actions>
    </div>
  </div>
</div>
