mat-form-field {
  width: 75%;
  margin-top: 5%;
}

mat-label {
  color: #000000;
}
.mat-input-element {
  color: rgb(0, 0, 0);
}
.container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #828282;
  color: rgb(255, 255, 255);
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-img {
  width: 35%;
  height: 100%;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  width: 65%;
  height: 100%;
  padding: 3%;
}

#img {
  width: 100%;
  text-align: center;
  margin: auto;
}

.titulo {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 2%;
}

.conteudo {
  background-color: #3f3f3f;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 3%;
  border-radius: 5%;
}

.button {
  background-color: #2e82d0;
  color: black;
  border-radius: 5%;
  margin: auto;
}
