::ng-deep .mat-dialog-container {
  overflow-y: hidden !important;
}

.iconWatch {
  position: relative;
}

.iconWatch::-webkit-calendar-picker-indicator {
  width: 17px;
  height: 17px;
  margin-right: 6px;
}

mat-form-field{
  width: 15em;
}

::ng-deep snack-bar-container simple-snack-bar .mat-simple-snackbar-action {
  color: rgb(255, 255, 255);
}
