<div class="d-flex justify-content-around align-items-center mt-4">
  <div>
    <img id="img" src="../../../assets/SVGCompany.svg">
  </div>
  <div>
    <h1 mat-dialog-title> {{company.name}} </h1>
    <div>
      <mat-dialog-content>
        <div>CNPJ: {{company.cnpj}} </div>
        <div>ENDEREÇO: {{company.address}}</div>
        <div>CEP: {{company.cep}}</div>
        <div>CIDADE: {{company.city}}</div>
        <div>UF: {{company.uf}}</div>
        <div>TELEFONE: {{company.telephone_number}}</div>
      </mat-dialog-content>

      <form [formGroup]="SchedulingForm">

        <mat-form-field appearance="fill" class="mt-3">
          <mat-label>Data</mat-label>
          <input matInput [matDatepicker]="picker" [min]="tomorrow" formControlName='SchedulingDate'
            name='SchedulingDate'>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> <br>

        <mat-form-field appearance="fill" class="mt-3" style="width: 100%">
          <mat-label>Horário</mat-label>
          <input matInput class="iconWatch" type="time" formControlName="SchedulingHour" #time>
        </mat-form-field>
      </form>

      <mat-dialog-actions class="justify-content-center">
        <button color="primary" mat-raised-button mat-dialog-close (click)="submit()">AGENDAR</button>
      </mat-dialog-actions>
    </div>
  </div>
</div>
