<div class="col-12">
  <div class="row justify-content-around mt-5">
    <mat-card class="col-4 my-5">
      <form>
        <div class="row mx-4">
          <button routerLink="/company/schedule" class="col mt-4 my-3" id="button" color="primary"
            mat-raised-button>Agendamentos</button>
        </div>
        <div class="row mx-4">
          <button routerLink="/company/edit" class="col my-3" color="primary" mat-raised-button>Editar dados da
            empresa</button>
        </div>
        <div class="row mx-4">
          <button (click)="logout()" class="col my-3" color="primary" mat-raised-button>Sair</button>
        </div>
      </form>
    </mat-card>

    <div class="my-5">
      <img src="assets/SVGCompany.svg" alt="SVGEmpresa">
    </div>
  </div>
</div>