<div>
    <form [formGroup]="form">
        <br>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="password" />
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Confirmar senha</mat-label>
            <input matInput type="password" formControlName="confirm_password" />
        </mat-form-field>
        <br>
    </form>
    <button mat-raised-button (click)="submit()" color="primary">Cadastrar</button>
</div>
